/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

ol {
  list-style-type: square; 
}

.flow-text{
  font-size: 19px;
}
.sidenav-trigger {
  color: #d1dad9;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(230, 230, 230, 0.979);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .modal{
    width: 90%;
    height: 55%;
  }
  #login{
    width: 90%;
    height: 40%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.nav-wrapper{
  background-color:#0288d1;
}

.logoNavbar{
  width: 56px;
  height: 56px;
  padding-top: 2%;
  
}
.page-footer{
  background-color: #0288d1;
}
.parallax-container{
  height: 500px;
}
#index-bannerS{
  height: 150px;;
}



